body {
  background: #1e1e1e;
  color: white;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: #1e1e1e;
  }
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-weight: normal;
  font-size: 12px;
  font-feature-settings: 'liga' 0, 'calt' 0;
  line-height: 18px;
}

a {
  color: aquamarine;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.yRemoteSelection {
  background-color: rgba(255, 0, 200, 0.418);
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: aquamarine solid 2px;
  border-top: aquamarine solid 2px;
  border-bottom: aquamarine solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border: 3px solid aquamarine;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
