body {
  background: #1e1e1e;
  color: white;

  font-family: Menlo, Monaco, 'Courier New', monospace;
  margin: 0;
}

h1 {
  font-weight: 100;
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-weight: normal;
  font-size: 12px;
  font-feature-settings: 'liga' 0, 'calt' 0;
  line-height: 18px;
}

a {
  color: aquamarine;
}

.App {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
