.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  font-size: 2rem;
  font-weight: 800;

  min-height: min(calc(100vh - 2em), 15em);
  max-width: 20em;
  margin: auto;
}

.container header > * {
  margin: 0;
}

.container header {
  font-size: 4rem;
}

.title {
  color: var(--highlight);
  font-size: 1rem;
  margin-bottom: 0em;
}

.container footer {
  font-size: 1rem;
  margin: 0;
}
.container a {
  color: inherit;
}

.info {
  color: #fc0;
}
