.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.header {
  flex: 0;
  display: flex;
  justify-content: space-between;
}

.main {
  flex: 1;
  overflow: hidden;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  min-width: 1em;
  height: 1em;
  border-radius: 1em;
  background: aquamarine;
  color: #000;
  text-decoration: none;
}

.share:hover {
  background: #000;
  color: aquamarine;
}

.share:hover:before {
  content: 'share';
}
